.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: #80cbc4;
  stroke-opacity: .6;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 900;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #B29009;
}

.link--source,
.link--target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.link--source {
  stroke: #f57f17;
}

.link--target {
  stroke: #00695c;
}